@charset "UTF-8";
h5, h6 {
	margin-bottom: 0;
}
label {
	margin-bottom: 0;
}

/* togetherEnroll */
.to-input {
	width: 36rem;
    height: 2rem;
    border-style: none;
    border-bottom: 1px solid;
    /* border: 1px solid #868B94; */
    /* border-radius: 0.4rem; */
    padding: 0.35rem;
    /* margin-top: 0.4rem; */
}
.to-input:focus {
	outline-color: green;
}
.data-box {
	margin-top: 0.25rem;
}
.enroll-container {
	width: 1200px;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
}
.enroll-wrap {
    width: 1050px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.page-title {
    text-align: center;
    margin-bottom: 3rem;
}
.page-title h2 {
    font-weight: 700;
    color: #4D5159;
}
.page-title p {
    color: #868B94;
}
.notice-text {
	color: #56C271;
}
.today {
	width: 800px;
    margin: 0 auto;
    padding: 5px 28px;
    border: 2px solid #868B94;
    border-radius: 4px;
    background-color: RGB(233, 236, 239);
    color: #4D5159;
    font-weight: 500;
}
[name="togetherEnrollFrm"], [name="togetherUpdateFrm"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.together-wrap {
	width: 800px;
    padding: 20px 40px;
    border: 2px solid #868B94;
    border-radius: 5px;
}
.content-box {
	color: #4D5159;
    margin: 0 0 1rem;
    padding: 10px;
    border: 1px solid #868B94;
    border-radius: 6px;
    box-shadow: 2px 2px 4px gray;
}
.flex {
	display: flex;
}
.to-title {
	margin: 0 0.4rem;
    font-weight: 500;
}
.minus, .plus {
	cursor: pointer;
}
.join-cnt {
    border-style: none;
    width: 35px;
	margin-left: 19px;
}
.sub-box {
	display: flex;
    align-items: center;
    margin-right: 7px;
    font-size: 18px;
    color: #4D5159;
} 
.date-container {
	display: flex;
    align-items: flex-end;
    margin: 0 0 1rem;
    justify-content: space-between;
}
.date-box {
    border: 1px solid #868B94;
    border-radius: 6px;
    padding: 10px;
    width: 350px;
    box-shadow: 2px 2px 4px gray;
}
.time-box  {
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #868B94;
    border-radius: 6px;
    box-shadow: 2px 2px 4px gray;
}
.time-wrap{
	display: flex;
}
.time-radio {
    margin-right: 0.5rem;
}
.select {
	width: 70px;
    border-radius: 0.3rem;
}
.content {
    width: 100%;
    display: block;
    margin-top: 0.5rem;
    padding: 0.3rem 0.4rem;
    border-radius: 0.3rem;
    overflow: scroll;
}
.btn-box {
	margin-top: 2rem;
    display: flex;
    text-align: center;
}
.btn-box input {
	width: 120px;	
}
.to-submit {
    padding: 0.38rem;
    border-radius: 0.3rem;
    border: 1px solid;
    background-color: #7FB77E;
    color: #F2F3F6;
    cursor: pointer;    
    transition-duration: .2s;
}
.to-submit:hover {
	background-color: #70a36f;
    transition-duration: .2s;
}
.error-msg {
	display: none;
	margin-bottom: 0;
    font-size: 14px;
    margin: 0.2rem;
    color: red;
}
.modify {
    color: #56C271;
}