<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.oee.local.model.dao.LocalDao">

<resultMap type="local" id="localMap"></resultMap>
<!-- 동네생활 글 목록 -->
<select id="selectLocalListByDongName" resultMap="localDetailMap">
	select 
		* 
	from
		(
		select
			l.*,
			(select dong_name from member m right join dong d on m.dong_no =  d.dong_no where member_id = l.writer) dong_name,
            (select re_filename from local_attachment la where la.local_no=l.no ) re_filename
		from
			local l
		)
	where
		dong_name in
		<foreach collection="myDongList" item="dongName" open="(" close=")" separator=",">
			#{dongName}
		</foreach>
		<if test="categoryNo != null and categoryNo != ''">
			and
				category_no = #{categoryNo}
		</if>
		<if test="searchKeyword != null" >
			and ( title like '%' || #{searchKeyword} ||  '%' or  content like  '%' || #{searchKeyword}|| '%' )
		</if>
	
	order by 
		reg_date desc
</select>

<select id="getLocalTotalCount" resultMap="localTotalCountMap">
		select
			count(*)
		from
			(
			select
				l.*,
    			(
        		select 
        			dong_name 
        		from 
            		member m right join dong d
                		on m.dong_no = d.dong_no
        		where 
        			member_id = l.writer
        		) dong_name
			from
    			local l
    		)
		where
    		dong_name in 
    		<foreach collection="myDongList" item="dongName" open="(" close=")" separator=",">
				#{dongName}
			</foreach>
			<if test="categoryNo != null and categoryNo != ''">
			and
				category_no = #{categoryNo}
			</if>
			
	</select>
	
	<resultMap id="localTotalCountMap" type="java.lang.Integer" />

<!-- 게시글 한건 조회 -->
 <select id="selectLocalOne" resultMap="localDetailMap">
	select 
		l.*,
		la.attach_no,
		la.original_filename,
		la.re_filename,
		c.category_name category_name,
        (select nickname from member where member_id = l.writer) nickname,
        (select profile_img from member where member_id = l.writer) profile_img,
        (select
                dong_name
            from
                member m right join dong d
                    on m.dong_no = d.dong_no
                where member_id = l.writer) dong_name
	from
		local l left join local_attachment la
			on l.no = la.local_no
				left join member m
			on l.writer = m.member_id
				left join local_category c 
			on l.category_no = c.category_no
	where l.no = #{no}
</select>
  
<select id="selectLocalLike" resultType="_int">
	select count(*)
	from local_like
	where local_no = #{no} and member_id = #{memberId}
</select>

<resultMap type="LocalLike" id="localLikeMap">
</resultMap>

<resultMap type="local" id="localDetailMap">
	<id column="NO" property="no"></id>
	<result column="CATEGORY_NO" property="categoryNo" />
	<result column="WRITER" property="writer" />
	<result column="TITLE" property="title" />
	<result column="CONTENT" property="content" />
	<result column="REG_DATE" property="regDate" />
	<result column="HITS" property="hits" />
	<association property="member" javaType="member">
		<id column="MEMBER_ID" property="memberId"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="MANNER" property="manner"/>
		<result column="PROFILE_IMG" property="profileImg"/>
	</association>
	<association property="dong" javaType="dong">
		<id column="DONG_NO" property="dongNo"/>
		<result column="DONG_NAME" property="dongName"/>
	</association>
	<association property="localcategory" javaType="localcategory">
		<id column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
	</association> 
	<collection property="attachments" ofType="localAttachment">
		<id column="ATTACH_NO" property="attachNo"/>
		<result column="ORIGINAL_FILENAME" property="originalFilename"/>
		<result column="RE_FILENAME" property="reFilename"/>
		<result column="REG_DATE" property="regDate"/>
	
	</collection>
</resultMap>

<update id="updateLocalBoard">
	update local set 
		category_no = #{categoryNo},
		title = #{title},
		content = #{content}
	where
		no = #{no}
</update>

<update id="updateAttachFile">
	update local_attachment set 
		ORIGINAL_FILENAME = #{originalFilename},
		RE_FILENAME = #{reFilename},
		REG_DATE = sysdate
	where
		ATTACH_NO = #{attachNo}
</update>

<select id="selectAttachNo" resultType="_int">
	select
		ATTACH_NO
	from
		local_attachment
	where
		LOCAL_NO = #{no}
</select>

<update id="hits">
	update local set
		hits = hits + 1
	where
		no = #{no}
</update>

<select id="selectLocalAttachments" resultMap="localAttachMap">
	select
		*
	from
		local_attachment
	where
		local_no = #{no}
</select>

<resultMap type="LocalAttachment" id="localAttachMap"></resultMap>

<!-- insertLocal -->
<insert id="insertLocalBoard">
	insert into 
		local(no, category_no, writer, title, content, reg_date, hits)
	values(
		seq_local_no.nextval, 
		#{categoryNo}, 
		#{writer}, 
		#{title}, 
		#{content}, 
		default, 
		default
	)
	<selectKey order="AFTER" resultType="_int" keyProperty="no">
		select 
			seq_local_no.currval 
		from 
			dual
	</selectKey>
</insert>

<insert id="insertLocalAttachment">
	insert into 
		local_Attachment 
	values(
		seq_local_attach_no.nextval, 
		#{localNo}, 
		#{originalFilename}, 
		#{reFilename}, 
		default
	)
</insert>

<!-- 댓글 작성 -->
<insert id="insertComment">
 	insert into 
 		local_comment 
	values(
		seq_local_comment_no.nextval,
		#{localNo},
		#{writer},
		#{refNo},
		default,
		#{content},
		default
	)
		
</insert>

<!-- 댓글목록 -->
<!-- 등록순 -->
<select id="commentList" resultMap="localCommentMap">
	SELECT
		lc.* ,
		m.nickname,
		(select profile_img from member where member_id = lc.writer) profile_img,
        (select
                dong_name
            from
                member m right join dong d
                    on m.dong_no = d.dong_no
                where member_id = lc.writer) dong_name
	FROM 
		local l left join  local_comment lc 
			on l.no = lc.local_no
			left join member m
			on lc.writer = m.member_id 
	WHERE lc.local_no = #{no}
	START WITH lc.comment_level = 1
	CONNECT BY PRIOR lc.comment_no = lc.ref_no
	<if test='"asc".equals(order)'>
		ORDER SIBLINGS BY lc.reg_date asc
	</if>
	<if test='"desc".equals(order)'>
		ORDER SIBLINGS BY lc.reg_date desc
	</if>
     

</select>



<!-- re댓글 작성 -->
<insert id="insertReComment">
	insert into 
 		local_comment 
	values(
		seq_local_comment_no.nextval,
		#{localNo},
		#{writer},
		#{refNo},
		#{commentLevel},
		#{content},
		default
	)
</insert>


<!-- 댓글 수정 -->
<update id="updateComment">
	update local_comment
	set
		content = #{content}
	where
		comment_no = #{commentNo}
</update>





<!-- 하나님 것 -->
<select id="selectLocalCommentList" resultMap="localCommentEntity">
	select 
		lc.* ,
		l.title,
		l.writer
	from 
		local_comment lc join local l 
		on l.no = lc.local_no
	where 
		lc.writer = #{memberId}
</select>
<select id="selectLocalList" resultMap="localDetailMap">
	select 
		l.*,
		m.* 
	from
		local l join member m
		on l.writer = m.member_id
	where 
		l.writer = #{memberId}
</select>
<resultMap type="localCommentEntity" id="localCommentEntity"></resultMap>
<resultMap type="localComment" id="localCommentMap">
	<id column="COMMENT_NO" property="commentNo"></id>
		<result column="LOCAL_NO" property="localNo" />
		<result column="WRITER" property="writer" />
		<result column="REF_NO" property="refNo" />
		<result column="COMMENT_LEVEL" property="commentLevel" />
		<result column="CONTENT" property="content" />
		<result column="REG_DATE" property="regDate" />
		<association property="member" javaType="member">
			<id column="MEMBER_ID" property="memberId"/>
			<result column="NICKNAME" property="nickname"/>
			<result column="MANNER" property="manner"/>
			<result column="PROFILE_IMG" property="profileImg"/>
		</association>
		<association property="dong" javaType="dong">
			<id column="DONG_NO" property="dongNo"/>
			<result column="DONG_NAME" property="dongName"/>
		</association>
	<!-- 	<association property="localEntity" javaType="localEntity">
			<id column="NO" property="no"/>
			<result column="WRITER" property="writer"/>
			<result column="TITLE" property="title"/>
		</association> -->
</resultMap>	
</mapper>