<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.oee.local.model.dao.LocalDao">

<select id="localList" resultMap="localMap">
	select * from local
</select>

<resultMap type="local" id="localMap">
</resultMap>



<!-- insertLocal -->
<insert id="insertLocalBoard">
	insert into 
		local(no, category_no, writer, title, content, reg_date, hits)
	values(
		seq_local_no.nextval, 
		#{categoryNo}, 
		#{writer}, 
		#{title}, 
		#{content}, 
		default, 
		default
	)
	<selectKey order="AFTER" resultType="_int" keyProperty="no">
		select 
			seq_local_no.currval 
		from 
			dual
	</selectKey>
</insert>

<insert id="insertLocalAttachment">
	insert into 
		local_Attachment 
	values(
		seq_local_attach_no.nextval, 
		#{localNo}, 
		#{originalFilename}, 
		#{reFilename}, 
		default
	)
</insert>
<select id="selectLocalCommentList" resultMap="localCommentMap">
	
	select 
		lc.* ,
		l.*
	from 
		local_comment lc join local l 
		on l.no = lc.local_no
	where 
		lc.writer = #{memberId}

</select>
<resultMap type="localComment" id="localCommentMap"></resultMap>	

</mapper>