@charset "UTF-8";
body {
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
}

<!-- 검색바 -->
.searchdiv {
   	position: relative;
   	top: 60px;
   	left: 870px;
   	max-width:800px; 
   	max-height: 100px;
}

.searchTerm {
  width: 600px;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height:36px;
  border-radius: 5px 0 0 5px;
  color: black;
}

.searchTerm:focus{
  color: #black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid black;
  background: #ffffff;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-left: -5px;
  position: relative;
  top:1.8px;
}


<!-- wholetbl -->
#craigWholeListTbl{
	margin: 0 auto;
}

.crpp{
	margin-bottom: 3px;
	font-weight: 300;
	font-size: 15px;
	color: black;
	
}

#crtitle{
}

#crdong{
	font-size: 14px;
	color : black;
	font-weight: 300
}

#crprice{
	font-size: 14px;
	color : black;
	font-weight: 600
}



.crnotd:hover{
	cursor: pointer;
}

.crwishchat{
	font-size: 14px;
	color : gray;
	font-weight: 300
	
}


/* 글쓰기 
#writeCraigbtn {

	position: relative;
	top:-14px;  
	left:20px;
}

#writeCraigbtn:hover {
 background-color: gray;
}


#tblcate{
	margin-left: 250px;
	margin-top: -30px;
}

#btct:hover{
 	background-color:#5EC476;
 	border-color: green;
}


#tbl-craig-enroll-board{
   border: 1px solid black;
   width : 600px;
   height : 600px;
   margin: 0 auto;   
}

#tbl-craig-enroll-board th, td{
   border: 1px solid black;
}

#craigEnrollFrm{
   width : 600px;
   height : 600px;
   margin: 0 auto;  
}

*/