@charset "UTF-8";
body {
	width: 1200px;
    min-width: 1200px;
    max-width: 1200px;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
}
hr{
	 width : 90%
}
td{
	padding-left: 35px;
}
#profile{
	height: 70px; 
    width: 70px; 
    /* margin: 50px 0 0 50px; */
}
#nickname{
	font-size: 25px;
    font-weight: 600;
}
td button{
	background: #7FB77E;
    color: white;
	border-radius: 5px;
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
td button:hover{
	background : #868b94;
}
div.menu-container{
	padding-left: 40px;
}
.menu-list{
    list-style: none;
    font-size: 20px;
}
ul{
	list-style: none;
	font-family: 'Noto Sans KR', sans-serif;
}
li{
    padding-top: 25px;
}
a{
	color : black;
}
a:hover{
	color : grey;
}
#menu{
	font-size : 25px;
	font-weight: 600;
}
#submenu{
	padding-left : 15px;
}
#mypageimg{
	width: 20px;
}
hr{
    margin-top: 10px;
}