@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

footer{
	display: flex;
}
.chat {
	margin-top: auto;
	margin-bottom: auto; 
	position: relative;
	max-height: 100%;
}

.card {
	background-color: white !important;
	margin-top: 0;
	min-width: 500px;
	min-height: 760px;	
}

.card-header{
	background-color: white !important;
	height: 72px;
	padding-top: 20px;
}
 .card-footer{
	border-top: 0 !important;
	position: relative;
	bottom: 0;
	display: inline-block;
	width: 100%;
	padding: 0;
	background-color: white;
	height: 56px;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    top: -80px;
}
/* 스크롤바 관련  */
.scrollarea {
   overflow-y: auto;
}
.scrollarea::-webkit-scrollbar {
    width: 8px; 
}
.scrollarea::-webkit-scrollbar-thumb {
    background: #B1D7B4;
    border-radius: 10px;
    border: 1px solid #7FB77E;
}
.scrollarea::-webkit-scrollbar-track {
    background: #F2F3F6; 
}


/*********** 채팅방 상단바 ************/
.msg_head{
	position: relative;
}
/* 대화상대정보 */
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span.nickname {
	font-size: 20px;
	color: #212124;
	font-weight: bold;
}
.user_info span.manner {
	font-size: 10px;
	color: white;
	background-color: #56C271 !important;
}

/* 신고 관련 */
.report-box {
    margin: 30px 0;
}
.report-type {
	border-top: 2px solid #4D5159;
    border-bottom: 2px solid #4D5159;
    margin-bottom: 20px;
}
.report-type p {
    color: #4D5159;
    padding: 9px 0px;
    font-size: 19px;
    font-weight: 400;
}
.form-check {
    margin: 25px 0;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
    transition-duration: 0.4s;
}
.form-check:hover {
	background-color: #F2F3F6;
	transition-duration: 0.4s;	
}
.form-check-input {
    margin: 1rem 0.2rem;
}
.form-check-label {
	width: 100%;
	margin: 0.6rem 1.7rem;	
	cursor: pointer;
}



/********** 중고거래 게시글 정보 ************/
#craig_bar{
	height: 140px;
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	vertical-align: middle;
	padding-top: 10px;
    padding-bottom: 65px;
}

#craig_bar .craig_info_wrap {
	height: 100%;
	position: relative;
	margin-left: 35px;
	margin-top: 10px;
}
#craig_bar .craig_info_wrap img {
	width: 60px;
	height: 60px;
	border-radius:10%;
	float: left;
}

#craig_bar .craig_text {
	position: relative;
    right: -10px;
}
#craig_bar .craig_text .craig_name {
	display: inline;
	margin-left: 3px;
}
#craig_bar .craig_text .craig_status {
	display: inline;
	font-weight: bold;
}

#craig_bar .craig_text .price {
	display: block;
	font-weight: bold;
}

#craig_bar button {
	position: relative;
    margin-left: 35px;
    margin-top: 3px;
	font-size: 15px;	
}
#craig_bar #meetingPlace {
	margin-left: 10px;
}
.btnWrap {
	display: flex;
}
#meetingPlace {
	margin-left: 10px;
}
/*********** 채팅방 메뉴 ************/
#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 24px;
	color: #4D5159;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
    z-index: 1;
    position: absolute;
    background-color: rgb(255 255 255);
    color: black;
    border-radius: 3px;
    top: 58px;
    right: 15px;
	display: none;
	border: 1px solid rgba(0,0,0,.125);
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
}

.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}
/*--------------------------------*/

/* 채팅방 하단 메시지입력바  */
.message-input {
	width: 100%;
	z-index: 99;	
	background: white;
}

.message-input input#msg {
	padding: 16px 32px 16px 23px;
	font-family: 'Noto Sans KR', sans-serif;
    float: left;
    border: none;
    width: calc(100% - 90px);
    font-size: 1rem;
    color: #32465a;
	outline: none;
}
input, button, select, textarea{
	line-height: inherit;
}

.message-input button { 
	float: right;
	border: none;
	width: 50px;
	cursor: pointer;
	background-color: white;
	color: #868B94;
	outline: none;
	font-size: 0.8rem;
}
.message-input button svg{
	margin: 18px 10px 10px 10px;
	
}
/* 파일첨부 */
.message-input .attachment{
	margin: 20px 10px 10px 10px;
	right: 65px;
	z-index: 4;
	color: #435f7a;
	cursor: pointer;
}
.custom-file-input {
    position: absolute;
    top: -14px;
}
.custom-file-label {
    position: absolute;
    top: -14px;
}
/* 메시지영역  */
#message-container {
	height: 530px;
}
.card .messages {
	height: auto;
	min-height: calc(100% - 140px);
	max-height: calc(100% - 140px);
	overflow-y: scroll;
	overflow-x: hidden;
}
.card .messages ul {
	list-style: none;
	display: block;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.card .messages ul li {
	display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
    list-style: none;
    position: relative;
}

/* 보낸 메시지  */
.messages ul li.replies p {
	background: #7FB77E;
	float: right;
	color: white;
}
.messages ul li.replies .msg_time{
    position: relative;
    float: right;
   	top: 10px;
    margin-right: 10px;
    color: #868B94;
    font-size: 12px;
}

.messages ul li.replies .attachFile img {
	width: 150px;
	height: 150px;
	border-radius: 10%;
	float: right;
	padding: 4px;
}

.messages ul li.replies #placeMap {
	border-radius: 10%;
	float: right;
	padding: 4px;
	width: 200px;
	height: 200px;
}

.messages ul li.book div {
	text-align: center;
	margin: 0 auto;
}

.messages ul li.book div span {
	color: #868B94;
	padding-bottom: 30px;
}

/* 메시지박스 */
.messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%;
    line-height: 130%;
}


/* 받은 메시지  */
.card .messages ul li.sent .profImg {
	width: 40px;
	border-radius:50%;
	float: left;
	margin: 0 8px 0 0;
}
.messages ul li.sent p {
	background: #F2F3F6;
	color: #212124;
}
.messages ul li.sent .msg_time{
	position: relative;
    left: 7px;
    color: #868B94;
    font-size: 12px;
}
.messages ul li.sent .attachFile img{
	width: 150px;
	height: 150px;
	border-radius: 10%;
}

.messages ul li.sent .msg_time.attach{
    margin-left: 204px;
    margin-top: -21px;
    position: absolute;
}


/*--- 혜진추가   0406 --*/

#bigMannerDiv{
	display: flex;
    justify-content: space-around;
}


.mannerimages{
	width: 118px;
    height: 104px;
    padding-right: 20px;
	
}

.mannerbox{
	margin-left: 7px;
}

#compliDiv{
	margin-top: 40px;
}

#sendreview:hover {
	background-color: green;
}

#buyerconfirm:hover {
	background-color: #00e600;
}
 

.messages ul li.sent  #placeMap {
	border-radius: 10%;
	float: left;
	padding: 4px;
	width: 200px;
	height: 200px;
}
