@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
/* 주아체 */
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* noto-sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

main#chatWrap {
   max-width: 73rem;
   mam-width: 73rem;
   max-height: 50rem;
   min-height: 50rem;
   margin: 0 auto;
   border: 1px solid rgba(0,0,0,.125);
   font-family: 'Noto Sans KR', sans-serif;
 }
#content {
	border-bottom: 1px solid #eaebee;
}

/* 프로필바 */
#prof-bar > a {
	height: 72px;
}

/* 프로필사진 */
#prof-bar img {
	width: 40px;
    border-radius: 50%;
    float: left;
}

/* 채팅목록  */
#chatList > div#nickname {
	height: 72px;
}
#chatList > div#nickname > span {
	font-size: 20px;
	font-weight: bold;
}

/* 스크롤바 관련  */
.scrollarea {
   overflow-y: auto;
}
.scrollarea::-webkit-scrollbar {
    width: 8px; 
}
.scrollarea::-webkit-scrollbar-thumb {
    background: rgba(178, 215, 181, 0.412); 
    border-radius: 10px;

}
.scrollarea::-webkit-scrollbar-track {
    background: #F2F3F6; 
}

#chatLog {
	width: 715px;
}

/* 채팅목록 */
#chatList {
	border-right: 1px solid #dee2e6
}
.chatList-wrap img{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 18px;
    margin-top: 3px;
    margin: 3px 18px 0 2px;
}
.chatList-header {
	margin-right: 150px;
}
.chatList-header strong {
	color: #212124;
}

.chatList-header .last-chatting {
	width: 200px;
	color: #555555;
}
.col-10 {
	max-width: 100%;	
}
.craigTitle {
	background-color: #eaf4eb;
    border-radius: 6px;
    padding: 2px 6px;
    margin-bottom: 8px;
    color: black;
}

