<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.oee.chat.model.dao.ChatDao">
	<select id="findLastCraigMsgByChatroomId" resultMap="craigMsgMap">
		select 
           cm.*
		from (
			    select
			        cm.*,
			        row_number() over(order by sent_time desc) rnum
			    from
			        craig_msg cm
			    where
			    	chatroom_id = #{chatroomId}
		) cm
		where
		    rnum = 1
	</select>

	<insert id="insertCraigMsgAttach">
		insert into
			craig_msg_attach
		values (
			seq_craig_msg_attach_no.nextval, 
			null, 
			#{originalFilename}, 
			#{reFilename}, 
			default
		)
		<selectKey order="AFTER" resultType="_int" keyProperty="attachNo">
			select
				seq_craig_msg_attach_no.currval
			from 
				dual
		</selectKey>
	</insert>
	
<resultMap type="craigMsg" id="craigMsgMap"></resultMap>
</mapper>