<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.oee.craig.model.dao.CraigDao">

<!-- ■ select all -->
<select id="craigList" resultMap="craigMap">
	select cr.*,
            d.dong_name,
            c.attach_no,
            c.original_filename,
            c.re_filename
	from ( 
             select  ca.*  
             from ( select c.*, row_number() over(partition by craig_no order by craig_no desc )rnum from craig_attachment c)ca  
             where rnum= 1 ) c  right join craig cr 
                    on c.craig_no = cr.no
              left   join  member m
                    on cr.writer = m.member_id 
              left join dong d
                    on m.dong_no = d.dong_no
              left join dong_range dr
                    on d.dong_no = dr.dong_no
	<where>
		d.dong_name in
		<foreach collection="list" item="dongName" open="(" close=")" separator=",">
			#{dongName}
		</foreach>
    </where>	
	order by  cr.no desc

</select>


<select id="selectcraigOne" resultMap="craigMap">
select c.*, 
            ca.attach_no,
            ca.original_filename,
            ca.re_filename,
             (  select count(*) from craig_attachment  where craig_no =  c.no ) attach_count,
            m.*
from craig c  left  join  craig_attachment ca
	 on c.no = ca.craig_no
	    	 left join member m 
	    on c.writer = m.member_id 
 where c.no =  #{no}
</select>




<resultMap type="Craig" id="craigMap">
	<id column="no"  property="no"/>
	<result column="category_no" property="categoryNo"/>
	<result column="writer" property="writer"/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>
	<result column="reg_date" property="regDate"/>
	<result column="latitude" property="latitude"/>
	<result column="longitude" property="longitude"/>
	<result column="place_detail" property="placeDetail"/>
	<result column="price" property="price"/>
	<result column="hits" property="hits"/>
	<result column="state" property="state"/>
	<result column="buyer" property="buyer"/>
	<result column="complete_date" property="completeDate"/>
	<!-- member -->
	<association property="member" javaType="member" >
		<id column="member_id" property="memberId" />
		<result column="name" property="name" />
		<result column="dong_no" property="dongNo" />
		<result column="dong_range" property="dongRange" />
		<result column="manner" property="manner" /> 
		<result column="nickname" property="nickname" />  
		<result column="profile" property="profile" />  
	</association>
	
	<!-- dong -->
	<association property="dong" javaType="dong" >
		<id column="dong_no" property="dongNo" />
		<result column="dong_name" property="dongName" />
	</association>
	
	<!-- dong_range -->
	<association property="dongrange" javaType="dongrange" >
		<id column="dong_no" property="dongNo" />
		<result column="dong_near" property="dongNear" />
		<result column="dong_far" property="dongFar" />
	</association>
	
	<!-- attachments  -->
	<collection property="attachments" ofType="craigAttachment" >
		<id column="attach_no" property="attachNo" />
		<result column="original_filename" property="originalFilename" /> 
		<result column="re_filename" property="reFilename" /> 
		<result column="reg_date" property="regDate" /> 
	</collection>
</resultMap>

<!-- ■ insert  -->
<insert id="insertCraigBoard">

	insert into craig (no, category_no, writer, title, content, latitude, longitude, place_detail, price)
			values( seq_craig_no.nextval, #{categoryNo}, #{writer}, #{title},#{content}, #{latitude}, #{longitude}, #{placeDetail}, #{price})
	
	<selectKey  order="AFTER" resultType="_int" keyProperty="no"> 
		select seq_craig_no.currval from dual
	</selectKey>
</insert>

<insert id="insertCraigAttachment">
	insert into craig_Attachment values(seq_craig_attach_no.nextval, #{craigNo}, #{originalFilename}, #{reFilename}, default)
</insert>






</mapper>