<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.oee.notice.model.dao.NoticeDao">
	<!-- 하나 시작 -->
	<insert id="insertKeyword">
		insert into
			notice_keyword
		values(
			seq_keyword_no.nextval, 
			#{memberId},
			#{keyword},
			default
		)
	</insert>
	<delete id="deleteKeyword">
		delete from
			notice_keyword
		where
			no = #{keywordNo}
	
	</delete>
	<select id="selectKeywordList" resultMap="noticeKeywordMap">
	select
		*
	from
		notice_keyword
	where
		member_id = #{memberId}
	</select>
	<!-- 하나 끝 -->
	
<resultMap type="noticeUser" id="noticeMap"></resultMap>	
<resultMap type="noticeKeyword" id="noticeKeywordMap"></resultMap>	
	
	<!--  예지 시작 -->
	
	<select id="selectAdminNoticeList" resultMap="noticeMap">
		select
			*
		from
			notice_admin
		order by
			reg_date desc
	</select>
	
	<select id="selectAdminNoticeTotalCount" resultMap="noticeTotalCountMap">
		select
			count(*)
		from
			notice_admin
	</select>
	
	<resultMap type="java.lang.Integer" id="noticeTotalCountMap"></resultMap>
	
	<insert id="insertAdminNotice">
		insert into
			notice_admin
		values (
			seq_notice_admin_no.nextval,
			#{msg},
			#{regDate}
		)
	</insert>
	
	<delete id="deleteAdminNotice">
		delete from
			notice_admin
		where
			no = #{no}
	</delete>
	
	<!-- 예지 끝 -->

</mapper>