@charset "UTF-8";

/* 글꼴 주아체 */
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#notice-container {
	margin: 0 auto;
	margin-top: 10px;
	font-family: 'Noto Sans KR', sans-serif;
}

h1 {
	margin-top: 40px;
	margin-bottom: 10px;
}

table {
	border-collapse: collapse;
	margin-bottom: 20px;
}

tr.notice-border-top td {
	padding-top: 10px;
}

tr.notice-border-bottom td {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}