@charset "UTF-8";
table{
	margin-left : 35%;
}
td{
	padding-left: 35px;
}
#id{
	font-size: 25px;
    font-weight: 600;
}
#update-container{
	margin:0 auto;
	width:600px;
	text-align:center;
	/* margin: 50px 150px; */
}
form#command{
	/* margin: 50px 150px; */
}
.form-con{
	height: 45px;
	font-size:20px;
	border-style: none;
}
.form-control{
	width: 25vw;
   /*  margin-bottom: 30px; */
    height: 30px;
    /* display: inline-block; */
    /* float: right; */
    /* margin-right: 10vw; */
    font-size:20px;
}
#update{
	font-size : 22px;
	font-weight: 600;
}
.detail{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#comment{
	padding: 10px;
    margin-left: 11vw;
    font-size: 13px;
    color: lightslategrey;
    text-align: left;
}
/*------------------------------------------------------------------------------------*/
.avatar-upload {
    position: relative;
    max-width: 205px;
    /* margin: 50px auto; */
}
.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
#imageUpload{
    display: none;
}
#imgupload{
	display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}
#imgupload:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
}
.imagePreview {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
