@charset "UTF-8";
body {
	width: 1200px;
    min-width: 1200px;
    max-width: 1200px;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
}
hr{
	 width : 90%
}
td{
	padding-left: 35px;
}
.btn1{
	border-radius: 50px;
    height: 100px;
    width: 100px;
}
#imagePreview{
	border-radius: 50px;
	height: 100px; 
    width: 100px; 
    margin: -20px;
    /* margin: 50px 0 0 50px; */
}
#nickname{
	font-size: 23px;
    font-weight: 600;
}
#imagemodal{
	margin-left: 3px;
    margin-right: 5px;
    height: 50px; 
    width: 50px; 
    border-radius: 50px;
}
div.modal-content{
	 background-color: #d5ffd6;
}
div.modal-body{
	list-style: none;
    font-size: 22px;
    font-family: 'Noto Sans KR', sans-serif;
}
div.modal-body li{
	margin: 10px;
}
td button{
	background: #7FB77E;
    color: white;
	border-radius: 5px;
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
td button:hover{
	background : #868b94;
}
div.menu-container{
	padding-left: 40px;
}
.menu-list{
    list-style: none;
    font-size: 20px;
}
ul{
	list-style: none;
	font-family: 'Noto Sans KR', sans-serif;
}
a{
	color : black;
}
a:hover{
	color : grey;
	text-decoration:none;
}
#menu{
	font-size : 25px;
	font-weight: 600;
	padding-top: 25px;
}
#submenu{
	padding-left : 15px;
	padding-top: 25px;
}
#mypageimg{
	width: 20px;
}
hr{
    margin-top: 10px;
}
/*-------------------------------------------------------*/
.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}