<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.oee.admin.model.dao.AdminDao">

	<!-- select -->
	<select id="selectAdminMemberList" resultMap="adminMap">
		select
			m.*,
			auth
		from
			member m join authority a
			on m.member_id = a.member_id
		where
			delete_date is null
		order by
			enroll_date desc
	</select>
	
	<resultMap type="member" id="adminMap">
		<id column="member_id" property="memberId"/>
		<result column="member_id" property="memberId"></result>
		<result column="password" property="password"></result>
		<result column="nickname" property="nickname"></result>
		<result column="phone" property="phone"></result>
		<result column="manner" property="manner"></result>
		<result column="report_cnt" property="reportCnt"></result>
		<result column="enroll_date" property="enrollDate"></result>
		<result column="delete_date" property="deleteDate"></result>
		<association property="auth" javaType="authority">
			<id column="member_id" property="memberId"/>
			<result column="member_id" property="memberId"/>
			<result column="auth" property="auth"/>
		</association>
	</resultMap>
	
	<select id="selectAdminCraigList" resultMap="craigMap">
		select
			*
		from
			craig
		order by
			reg_date desc
	</select>
	
	<resultMap type="craig" id="craigMap"></resultMap>
	
	<select id="selectAdminLocalList" resultMap="localMap">
		select
			*
		from
			local
		order by
			reg_date desc
	</select>
	
	<resultMap type="local" id="localMap">

	</resultMap>
	
	<select id="selectAdminTogetherList" resultMap="togetherMap">
		select
			*
		from
			together
		order by
			reg_date desc
	</select>
	
	<resultMap type="together" id="togetherMap"></resultMap>
	
	<select id="selectAdminBoardReport" resultMap="boardReportMap">
		select 
			b.*, reason_name 
		from board_report b join report_reason r 
			on b.reason_no = r.reason_no 
		order by reg_date desc
	</select>
	
	<resultMap type="boardReport" id="boardReportMap">
		<id column="report_no" property="reportNo"/>
		<result column="writer" property="writer"/>
		<result column="report_type" property="reportType"/>
		<result column="report_post_no" property="reportPostNo"/>
		<result column="reason_no" property="reasonNo"/>
		<result column="reg_date" property="regDate"/>
		<result column="status" property="status"/>
		<association property="reportReason" javaType="reportReason">
			<id column="reason_no" property="reasonNo"/>
			<result column="reason_no" property="reasonNo" />
			<result column="report_type" property="reportType" />
			<result column="reason_name" property="reasonName" />	
		</association>
	</resultMap>
	
	<select id="selectAdminUserReport" resultMap="userReportMap">
		select 
			u.*, reason_name 
		from 
			user_report u join report_reason r 
			on u.reason_no = r.reason_no 
		order by 
			reg_date desc
	</select>
	
	<resultMap type="userReport" id="userReportMap">
		<id column="report_no" property="reportNo"/>
		<result column="writer" property="writer"/>
		<result column="reason_no" property="reasonNo"/>
		<result column="reported_member" property="reportedMember"/>
		<result column="reg_date" property="regDate"/>
		<result column="status" property="status"/>
		<association property="reportReason" javaType="reportReason">
			<id column="reason_no" property="reasonNo"/>
			<result column="reason_no" property="reasonNo" />
			<result column="report_type" property="reportType" />
			<result column="reason_name" property="reasonName" />	
		</association>
	</resultMap>
	
	<!-- update -->
	<update id="updateAdminMemberRole">
		update
			(select
				m.*,
				auth
			from
				member m join authority a
				on m.member_id = a.member_id
	            )
		set
    		auth = #{auth}
		where
		    member_id = #{memberId}
	</update>
	
	<update id="updateAdminCraigCategory">
		update
			craig
		set
			category_no = #{categoryNo}
		where
			no = #{no}
	</update>
	
	<update id="updateAdminLocalCategory">
		update
			local
		set
			category_no = #{categoryNo}
		where
			no = #{no}
	</update>
	
	<update id="updateAdminTogetherCategory">
		update
			together
		set
			category_no = #{categoryNo}
		where
			no = #{no}
	</update>
	
	<!-- delete -->
	<delete id="deleteAdminMember">
		delete from
			member
		where
			member_id = #{memberId}
	</delete>

</mapper>