<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.oee.member.model.dao.MemberDao">

	<select id="selectOneMember" resultMap="memberMap">
		select
			*
		from
		    member
		where
			member_id = #{memberId}
	</select>
	
	<resultMap type="member" id="memberMap"></resultMap>	

	<!-- 정은 시작 -->
	<insert id="insertMember">
		insert into
			member
		values (
			#{memberId},
			#{password},
			#{nickname},
			#{phone},
			default,
			default,
			#{dongNo},
			#{dongRange},
			default,
			default,
			default,
			default
		)
	</insert>
	
	<insert id="insertauthority">
		insert into
			authority
		values (
			#{memberId},
			'ROLE_USER'
		)
	</insert>

	<!-- 정은 끝 -->











<!-- 혜진도전영역입니다.. 0320 와 arraysort어쩌고 오류뭐지 ? 배열 오류같은데 이거 왜 안돼 ? -->

<select id="selectMydongName" resultType="string">
	select dong_name from dong where dong_no = #{dongNo}
</select>

<select id="selectDongNearOnly"  resultType="string">
	select dong_near from dong_range where dong_no = #{dongNo}
</select>

<select id="selectDongNearFar" resultType="string" >
	select dong_far from dong_range where dong_no = #{dongNo}
</select>





<resultMap type="dongRange" id="dongRangeMap">
	<id column="dong_no" property="dongNo"  />
	<result column="dong_near" property="dongNear" /> 
	<result column="dong_far" property="dongFar" />
</resultMap>


</mapper>