@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
input[type=file]::file-selector-button {
  width: 100px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;

}
input[type=file]::file-selector-button:hover{
	
	background: rgb(77,77,77);
    color: #fff;
}

input[type=file]{
	padding-left:120px;
}

div#localEnrollContainer{
	width:690px; 
	margin : auto;
	text-align:center;
	padding-top: 50px;

}

input[type="button"] {
	border-radius:10px;
	border:none;
	font-size:18px;
	margin:auto;
	padding:5px;
	color:#7FB77E;
}
input[type="radio"]:checked + span {
  font-weight: bold;
  color: green;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  position: relative;
}

input[type="radio"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease-in-out;
}

input[type="radio"]:checked::before {
  background-color: #4CAF50;
}

input[type="radio"]:focus::before {
  box-shadow: 0 0 0 2px #ffffff;
  border-color: #ffffff;
}

input[type="radio"]:checked {
  border-color: #4CAF50;
}

input[type="submit"] {
	border-radius:10px;
	color:#7FB77E;
	border:none;
	font-size:18px;
	margin:auto;
	padding:5px;
}

textarea {
	width : 1000px;
	height : 300px;
	margin-left:140px;
	border:none;
	border-bottom:1px solid ligtgray;
}

input[type="text"]{
	width : 1000px;
	margin-left:140px;
	border:none;
}

.category-box{
	margin-left : 140px;
	margin-top : 20px;
}
#categoryNo{
	margin-left:10px;
}