@charset "UTF-8";

.local-container{
	width: 1000px;
    margin: 0 auto;
}
.sub_title{
	text-align : left;
	font-size: 30px;
}
#qu{
	color : green;
}

.local-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
#local-li{
	color: black;
	font-size:20px;
}
.board{	
	font-weight:bold;
}
#category{
	background-color :#27ae60;
	width: 115px;
	border-radius: 10px;
	color : white;
	text-align: center;
}
#tr-table{
    display: flex;
    flex-direction: column;
    padding: 6px;
}
td.span1{
	border-top:0px;
	padding:3px
}
#toTitle{
	font-size: 18px;
}