@charset "UTF-8";
body {
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
	min-width: 1200px;
    max-width: 1200px;
	min-height: 1000px;
	overflow-x: hidden;
	
}

<!--- craigList 랑 detail css 파일  --->

<!-- 검색바 -->
.searchdiv {
	
	display: inline-block;
	width: 600px;
/*--	position: relative;
   	top: 60px;
   	left: 870px;
   	max-width:800px; 
   	max-height: 100px;
   	*/
}

.seconddivv{
	display: flex;
    width: 1300px;
    justify-content: flex-start
    align-items: center;
    margin-left: 270px;
    margin-top: 0px;
    padding-top: 38px;
}

#searchKeyword {
  margin-left: 20px;
  width: 750px;
  border: 1.5px solid black;
  border-right: none;
  padding: 5px;
  height:39px;
  border-radius: 5px 0 0 5px;
  color: black;
}

.searchTerm:focus{
  color: #black;
}

.searchButton {
  width: 40px;
  height: 39px;
  border: 1.5px solid black;
  background: #ffffff;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-left: -5px;
  position: relative;
  top:2px;
}


.searchButton:hover {
	background-color: #1C7E34;		
	transition-duration: 0.3s;		
}

<!-- wholetbl -->
#craigWholeListTbl{
	margin: 0 auto;
}

.crpp{
	margin-bottom: 3px;
	font-weight: 300;
	font-size: 15px;
	color: black;
	text-align: left;
	padding-left: 5px;

}

#crtitle{
}

#crwishsp{
	text-align: center;
}

#crdong{
	font-size: 14px;
	color : black;
	font-weight: 300;
	text-align: left;
}

#crprice{
	font-size: 14px;
	color : black;
	font-weight: 600;
	margin-top: 15px;
}



.crnotd:hover{
	cursor: pointer;
}

.crwishchat{
	font-size: 14px;
	color : gray;
	font-weight: 300;
	margin-left: 5px;
	
}

#crwish, #crchat{
	font-size: 14px;
	color : gray;
	font-weight: 400
	
}

 #crchat{
 	margin-left: 3px;
 }

#crContent{
	font-size: 18px;
	color : black;
	font-weight: 300;

	
}

/* 
---------- detail --------
*/
#proimg{
	width: 50px; height: 50px; border-radius: 50px
}

#crboProfiletbl{
	width :610px;
	margin: 0 auto;
	margin-top: 30px;
	height: 100px;
	margin-bottom: 30px;
}



#crboProfiletbl td{
	padding-bottom: 5px;
	font-size: 16px;	
	height:25px
		
}

#crboProfiletbl td{
	font-size: 16px;	

}

#titletd{
	font-size: 27px;
}

<!-- container >
#crbigContainer {
	margin: 0 auto;
	width :610px;	
	height: 400px;
}

#crPrice{
	margin-top: 3px;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 60px;	
}

.spcateNdate{
	font-weight: 300;
	font-size: 15px;	
	color: light-gray;	
}

#craigPlace{
	margin: 0 auto;
	margin-top : 20px;
	font-weight : 700;	
	width:600px; 
	font-size: 18px;	
}

/* 매너온도 */
.temperature span, .temperature i {
    font-size: 23px;
    font-weight: 600;
}

/* 삼지창 */
#menu{
  display: none;
  list-style: none;
  position: relative;
  float: right;
  left:-55px;
  top:10px;
  margin-left: -150px;
  padding: 10px;
  height: 100px;
  padding-left: 0;
}

#menu li{
	padding: 10px;
	height: 40px;
}


/*Change toggle size by adjusting width & height*/
.tb-menu-toggle {
  border: 0;
  position: relative;
  left : 1000px;
  top: 30px;
  background: transparent;
  cursor: pointer;
  width : 50px;
}

/*Change toggle color here*/
.tb-menu-toggle i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  -webkit-transition:all .2s;
   -moz-transition:all .2s;
     -o-transition:all .2s;
        transition:all .2s;
}
.tb-menu-toggle i:nth-child(2) {
  top: 40%;
}
.tb-menu-toggle i:nth-child(3) {
  top: 80%;
}

/* Style the active toggle here */
.tb-menu-toggle.tb-active-toggle i {  }

/*Animation of the toggle*/
.tb-menu-toggle.tb-animate-toggle i:first-child,
.tb-menu-toggle.tb-animate-toggle i:nth-child(2){ 
  top: 40%;
  -webkit-transform:rotate(45deg);
   -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
     -o-transform:rotate(45deg);
        transform:rotate(45deg);
} 
.tb-menu-toggle.tb-animate-toggle i:nth-child(3){ 
  top: 40%;
  -webkit-transform:rotate(-45deg);
   -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
     -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
}

.hearts:hover {
	cursor: pointer;
}


.btbca{
	width: 100px;
	height: 40px;
	margin: auto;
	border: none;
	text-align: center;	
}

#btn-more:hover{
	background-color: #1C7E34;
	color: white;
}

/* 글쓰기 */
#writeCraigbtn:hover{
	background-color: #1C7E34;
	color: white;
}


.btnca{
	 text-align: center;
}

#searchPage{
	color: white;
	transition-duration: 0.3s;	
}

#btn-more:hover>#searchPage{
	color: #1C7E34;
	transition-duration: 0.3s;
}

#searchPage:hover{
	background-color: #1C7E34;
	color: #1C7E34;
	transition-duration: 0.3s;
}



#othercraigDiv{
	width : 610px;
	height : 400px;
	margin: auto;
	text-align: left;
}

h5{
	color: black;
}


.crnotd{
	text-align: center;
}

/**
.crnotd:hover{
	background-color: #E9ECEF;
	border-radius : 10px;
	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	
}
**/

#eachimg:hover{
	transform: scale( 1.08 );
  	transition: all 0.5s	
}

#statemodalcfm:hover{
	color:black;
	background-color: #c0c0c0;
}

#delconfirm:hover{
	color:white;
	background-color: green;
}
<<<<<<< HEAD

#showMore:hover{
	color:white;
	background-color: green;
	border:none;
}

#showMore{
    color: black;
    background-color: white;
    border: 1px solid black;
    width: 82px;
    height: 36px;
    line-height: 2.6;
}

#statemodalcfm{
    color: black;
    background-color: white;
    border: 1px solid gray;
    width: 82px;
    height: 36px;
    line-height: 2.6;
}


/* .mannerdgr {display:inline-block;width:150px;height:50px;color:#fff;text-decoration:none;border:1px solid green;text-align:center;line-height:50px;background-color:black;border-radius:10px;}*/
.tooltip_layer {
	display:none;
	width:200px;
	margin-top:10px;
	padding:10px;
	width: 432px;
    height: 59px;
    text-align: left;
	background-color:#E3EDCD;
    font-weight: 400;
    font-size: 14px;
    border-radius: 10px;
    text-align: left;
	border-radius:10px;
	position: absolute; left: 1080px; top: 745px;
}
	
.mannerdgr{
	color:black;
}

#btnUpdate{
	border: 0.5px solid #c0c0c0;
	line-height: 2.1;
}
#btnDelete{
	border: 0.5px solid #c0c0c0;
	line-height: 2.2;
}
#btnDelete:hover{ background-color: #6C757D !important; color:white !important;  }
#btnUpdate:hover{ background-color: #FEC106 !important; color:black !important; }


/*-------------------------------------------------------------*/
#proimg{
	border-radius: 50px;
    /* margin: 50px 0 0 50px; */
}
#proimg:hover{
	cursor: pointer;
}
#nickname{
	font-size: 23px;
    font-weight: 600;
}
#imagemodal{
	margin-left: 3px;
    margin-right: 5px;
    height: 70px; 
    width: 70px; 
    border-radius: 50px;
}
#modal-header{
	 background-color: #d5ffd6;
}
#exampleModalLabel{
	padding: 5px;
	padding-top: 20px;
}
#dong{
	padding: 3px;
    padding-left: 8px;
}
#modal-body{
	list-style: none;
    font-size: 22px;
    font-family: 'Noto Sans KR', sans-serif;
    background: white;
    padding: 10px;
}
.btn-list{
	border: 0px;
    background: white;
    font-weight: 300;
}
.btn-list:hover{
	cursor: pointer;
	color: gray;
	}
#modal-body li a:hover{
	text-decoration: none;
	color : grey;
}
#modal-body li{
	margin-left: 10px;
	padding: 8px;
}
#modal-footer{
	background: white;
}
.btn-secondary1{
	 background-color: #d5ffd6;
	
}
.btn1{
	border-radius: 50px;
    height: 50px;
    width: 50px;
    background: white;
    border: white;
}
#mypageimg{
	width: 20px;
}
/*-------------------------------------------------------------*/

