@charset "UTF-8";
body {
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
	min-width: 1200px;
    max-width: 1200px;
	min-height: 1000px;
}


<!-- 검색바 -->
.searchdiv {
	margin-left: 100px;
	display: inline-block;
	width: 800px;
/*--	position: relative;
   	top: 60px;
   	left: 870px;
   	max-width:800px; 
   	max-height: 100px;
   	*/
}

#searchKeyword {
  width: 600px;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height:36px;
  border-radius: 5px 0 0 5px;
  color: black;
}

.searchTerm:focus{
  color: #black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid black;
  background: #ffffff;
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-left: -5px;
  position: relative;
  top:1.8px;
}


<!-- wholetbl -->
#craigWholeListTbl{
	margin: 0 auto;
}

.crpp{
	margin-bottom: 3px;
	font-weight: 300;
	font-size: 15px;
	color: black;
	
}

#crtitle{
}

#crdong{
	font-size: 14px;
	color : black;
	font-weight: 300
}

#crprice{
	font-size: 14px;
	color : black;
	font-weight: 600
}



.crnotd:hover{
	cursor: pointer;
}

.crwishchat{
	font-size: 14px;
	color : gray;
	font-weight: 300
	
}

#crwish{
	font-size: 14px;
	color : gray;
	font-weight: 400
	
}


#crContent{
	font-size: 18px;
	color : black;
	font-weight: 300;

	
}

/* 
---------- detail --------
*/
#proimg{
	width: 50px; height: 50px
}

#crboProfiletbl{
	width :610px;
	margin: 0 auto;
	margin-top: 30px;
	height: 100px;
	margin-bottom: 30px;
}



#crboProfiletbl td{
	padding-bottom: 5px;
	font-size: 16px;	
	height:25px
		
}

#crboProfiletbl td{
	font-size: 16px;	

}

#titletd{
	font-size: 27px;
}

<!-- container >
#crbigContainer {
	margin: 0 auto;
	width :610px;	
	height: 400px;
}

#crPrice{
	margin-top: 3px;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 60px;	
}

.spcateNdate{
	font-weight: 300;
	font-size: 15px;	
	color: light-gray;	
}

#craigPlace{
	margin: 0 auto;
	margin-top : 20px;
	font-weight : 700;	
	width:600px; 
	font-size: 18px;	
}

/* 매너온도 */
.temperature span, .temperature i {
    font-size: 23px;
    font-weight: 600;
}

/* 삼지창 */
#menu{
  display: none;
  list-style: none;
  position: relative;
  float: right;
  left:-55px;
  top:10px;
  margin-left: -150px;
  padding: 10px;
  height: 100px;
  padding-left: 0;
}

#menu li{
	padding: 10px;
	height: 40px;
}


/*Change toggle size by adjusting width & height*/
.tb-menu-toggle {
  border: 0;
  position: relative;
  left : 1000px;
  top: 30px;
  background: transparent;
  cursor: pointer;
  width : 50px;
}

/*Change toggle color here*/
.tb-menu-toggle i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  -webkit-transition:all .2s;
   -moz-transition:all .2s;
     -o-transition:all .2s;
        transition:all .2s;
}
.tb-menu-toggle i:nth-child(2) {
  top: 40%;
}
.tb-menu-toggle i:nth-child(3) {
  top: 80%;
}

/* Style the active toggle here */
.tb-menu-toggle.tb-active-toggle i {  }

/*Animation of the toggle*/
.tb-menu-toggle.tb-animate-toggle i:first-child,
.tb-menu-toggle.tb-animate-toggle i:nth-child(2){ 
  top: 40%;
  -webkit-transform:rotate(45deg);
   -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
     -o-transform:rotate(45deg);
        transform:rotate(45deg);
} 
.tb-menu-toggle.tb-animate-toggle i:nth-child(3){ 
  top: 40%;
  -webkit-transform:rotate(-45deg);
   -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
     -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
}

.hearts:hover {
	cursor: pointer;
}