@charset "UTF-8";

.craig-container{
	width: 1000px;
    margin: 0 auto;
}
.sub_title{
	text-align : left;
	font-size: 30px;
}
.craig-ul{
	list-style: none;
	display: flex;
    justify-content: space-around;
}
.bold{
	font-weight :bold;
}
#craig-li{
	text-decoration:none;
	color : black;
	font-size: 20px;
}
#craig-li:hover{
    color : grey;
}
#img{
	width: 130px;
	height: 130px;
}
#li-img{
	padding: 5px;
}
#ul-table{
	list-style: none;
	display: flex;
}
#ul-table:hover{
	cursor : pointer;
	background-color : gainsboro;
}
#ul-title{
	list-style: none;
	font-size: 17px;
	margin-top: 13px;
}
#buyPlace{
	padding: 5px;
}
#ul-price{
	padding: 5px;
	display: flex;
	list-style: none;
}

#buyCom{
	margin:5px;
	background-color : grey;
	color: white;
    border-radius: 6px;
    width: 75px;
    text-align: center;
}
#buyTitle{
	font-size: 20px;
	font-weight : 600;
	font-family: 'Noto Sans KR', sans-serif;
	padding: 5px;
}
#buyPrice{
	padding: 4px 8px;
    font-size: 18px;
}
#hogi{
    font-size: 18px;
    font-weight: bold;
    border: 0px;
    background: white;
    display: inline-block;
    color: black;
    margin-left: 25vw;
}
#hogi:hover{	
    cursor : pointer;
}
#hogi-hr{
	margin : 5px;
}
#hogi-ul{
	margin-bottom: 0px;
}
#empty{
	display: inline-block;
    width: 1000px;
    height: 150px;
    font-size: 25px;
	text-align : center;
	margin-top : 50px;
}
#emptyimg{
	width: 50px;
}
