@charset "UTF-8";

.buy-container{
	width: 1000px;
    margin: 0 auto;
}
.sub_title{
	text-align : left;
	font-size: 30px;
}

#img{
	width: 130px;
	height: 130px;
}
#li-img{
	padding: 5px;
}
#ul-table{
	list-style: none;
	display: flex;
}
#ul-table:hover{
	cursor : pointer;
	background-color : gainsboro;
}
#ul-title{
	list-style: none;
	font-size: 17px;
	margin-top: 13px;
	width: 800px;
}
#heart{
	width :30px;
	heigth:30px;
	float : right;
}
#buyPlace{
	padding: 5px;
}
#ul-price{
	padding: 5px;
	display: flex;
	list-style: none;
}

#buyCom{
	margin:5px;
	background-color : gray;
	color: white;
    border-radius: 6px;
    width: 75px;
    text-align: center;
}
#buyTitle{
	font-size: 20px;
	font-weight : 600;
	font-family: 'Noto Sans KR', sans-serif;
	padding: 5px;
}
#buyPrice{
	padding: 4px 8px;
}
#hogi-hr{
	margin : 5px;
}
#empty{
	display: inline-block;
    width: 1000px;
    height: 150px;
    font-size: 25px;
	text-align : center;
	margin-top : 50px;
}
#emptyimg{
	width: 50px;
}