<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sh.oee.together.model.dao.TogetherDao">

	<!-- 🐱 하나 시작 🐱 -->
	<select id="selectTogetherList" resultMap="togetherMap">
	select
		*
	from
		together
	where
		writer = #{memberId}
	</select>
	
	<resultMap type="together" id="togetherMap"></resultMap>	
	<!-- 🐱 하나 끝 🐱 -->
	
	<!-- 👻 정은 시작 👻 -->
	<!-- 동네 범위에 맞는 게시글 찾기 -->
	<select id="selectTogetherListByDongName" resultMap="togetherDetailMap">
		select
    		*
		from
			(
			select
				t.*,
    			(
        		select 
        			dong_name 
        		from 
            		member m right join dong d
                		on m.dong_no = d.dong_no
        		where 
        			member_id = t.writer
        		) dong_name
			from
    			together t
    		)
		where
    		dong_name in 
    		<foreach collection="list" item="dongName" open="(" close=")" separator=",">
				#{dongName}
			</foreach>
		order by 
			reg_date desc
	</select>
	
	<!-- 같이해요 한건 조회 -->
	<select id="selectTogetherByNo" resultMap="togetherDetailMap">
		select
		    t.*,
		    (select nickname from member where member_id = t.writer) nickname,
		    (select manner from member where member_id = t.writer) manner,
		    (select profile_img from member where member_id = t.writer) profile_img
		from
			(
		    select
		        t.*,
		        (
		        select 
		            dong_name 
		        from 
		            member m right join dong d
		                on m.dong_no = d.dong_no
		        where member_id = t.writer
		        ) dong_name
		from
		    together t
		    ) t
		where
		    no = #{no}
	</select>
	
	<resultMap type="together" id="togetherDetailMap">
		<id column="NO" property="no"/>
		<result column="WRITER" property="writer"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="TITLE" property="title"/>
		<result column="CONTENT" property="content"/>
		<result column="JOIN_CNT" property="joinCnt"/>
		<result column="DATE_TIME" property="dateTime"/>
		<result column="PLACE" property="place"/>
		<result column="GENDER" property="gender"/>
		<result column="AGE" property="age"/>
		<result column="REG_DATE" property="regDate"/>
		<result column="STATUS" property="status"/>
		<association property="member" javaType="member">
			<id column="MEMBER_ID" property="memberId"/>
			<result column="NICKNAME" property="nickname"/>
			<result column="MANNER" property="manner"/>
			<result column="PROFILE_IMG" property="profileImg"/>
		</association>
		<association property="dong" javaType="dong">
			<id column="DONG_NO" property="dongNo"/>
			<result column="DONG_NAME" property="dongName"/>
		</association>
	</resultMap>
	
	<!-- 게시글 등록 -->
	<insert id="insertTogether">
		insert into 
		    together
		values (
		    SEQ_TOGETHER_NO.nextval,
		    #{writer},
		    #{categoryNo},
		    #{title},
		    #{content},
		    #{joinCnt},
		    #{dateTime},
		    #{place},
		    #{gender},
		    #{age},
		    default,
		    default
		)
		<selectKey order="AFTER" resultType="_int" keyProperty="no">
			select 
				SEQ_TOGETHER_NO.currval
			from
				dual
		</selectKey>
	</insert>
	
	<!-- 같이해요 등록시 글쓴이 채팅방에 등록 -->
	<insert id="insertTogetherChat">
		insert into 
		    together_chat
		values (
		    SEQ_TOGETHER_CHATROOM_NO.nextval,
		    #{togetherNo},
		    #{memberId},
		    #{role},
		    default,
		    default
		)
	</insert>
	
	<!-- 같이해요 수정 -->
	<update id="togetherUpdate">
		update
			together
		set
			writer = #{writer},
			category_no = #{categoryNo},
			title = #{title},
			content = #{content},
			join_cnt = #{joinCnt},
			date_time = #{dateTime},
			place = #{place},
			gender = #{gender},
			age = #{age}
		where
			no = #{no}
	</update>
	
	<!-- 👻 정은 끝 👻 -->



</mapper>